<!DOCTYPE html>
<html>
<head>
  <title>Slow Down!</title>
  <style>
      body, html {
          color: #fff;
          background-color: #000;
      }
  </style>
</head>
<body>
  <h1>SLOW DOWN!</h1>
  <label id="timer">Wait 15</label>

  <script>
    var duration = 15;
    var targetTime = new Date().getTime() + (duration * 1000);
    var label = document.getElementById("timer");
    var interval = setInterval(function() {
      var currentTime = new Date().getTime();
      var remainingTime = Math.max(0, targetTime - currentTime);
      var seconds = Math.floor(remainingTime / 1000);

      label.innerHTML = "Wait " + seconds;
      if (seconds <= 0) {
        clearInterval(interval);
        label.innerHTML = "Okay! Now behave.";
        // Auto-redirect after timer expires
        setTimeout(function() {
          window.location.href = "{{ url_for('index') }}";
        }, 2000);
      }
    }, 1000);
  </script>
</body>
</html>
